<div id="navbar">
  <%= link_to '<', root_path( :start_date => prev_month(@start_date)) %>
  |
      <%= link_to 'Month', root_path(:type => 'month') %>
  |
      <%= link_to 'Week', root_path(:type => 'week') %>
  |
      <%= link_to 'WIP', root_path(:type => 'wip') %>
  |
  <%= link_to '>', root_path( :start_date => next_month(@start_date)) %>
</div>