<div id="new-trip-button">
    <%= button_to 'Create New Trip', new_trip_path, {:id=>'create_trip_button'} %>
  </div>
<div id="navbar">
  <div id="nav-title">Navigation</div>
  <% if @cal_type == 'month' %>
    <%= link_to "&lt;", url_for(:start_date => prev_month(@start_date)), {:id => 'prev-month'} %>
  <% else %>
    <%= link_to "&lt;", url_for(:start_date => prev_week(@start_date)), {:id => 'prev-week'} %>
  <% end %>
  |
  <%= link_to 'Month', root_path(:cal_type => 'month'), {:id => "month-view", } %>
  |
  <%= link_to 'Week', root_path(:cal_type => 'week'), {:id => "week-view", } %>
  |
  <%= link_to 'WIP', wip_path, {:id => "wip-view"} %>
  |
  <% if @cal_type == 'month' %>
    <%= link_to "&gt;", url_for(:start_date => next_month(@start_date)), {:id => 'next-month'} %>
  <% else %>
    <%= link_to "&gt;", url_for(:start_date => next_week(@start_date)), {:id => 'next-week'} %>
  <% end %>
</div>