<table id="trip-list">
  <tr>
    <% ['Date', 'Time', 'Destination', 'Contact', 'Community', 'Preferred Vehicle',
      'Travelers', 'Notes', 'Actions'].each do |header| %>
      <th> <%= header %> </th>
    <% end %>
  </tr>
  <% @trips_by_date.keys.sort.each do |date| %>
    <% days_trips = @trips_by_date[date] %>
    <% days_trips.each_with_index do |trip, i| %>
      <tr>
        <% if i == 0  #date cell should span all rows with same date %>
          <td rowspan="<%= days_trips.length %>">
            <%= days_trips[0].date.strftime("%b %d %a")%>
          </td>
        <% end %>
        <td>
          <%= trip.depart.strftime("%I:%M%p")%>
          <br />
          <%= trip.return.strftime("%I:%M%p")%>
        </td>
        <% letter = Destination.class_letter_for(trip.destination) %>
        <td class=<%= "\"#{letter}\"" %>>
          <%= trip.destination %>
        </td>
        <% for attrib in [  'contact', 'community', 'preferred_vehicle',
            'travelers', 'notes'] %>
          <td> <%= trip.send(attrib) %> </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
