<% form_for(trip) do |f| %>

  <%= f.error_messages %>

  <table class="trip_form">
    <tr>
      <td>
        <p>
          <%=h f.label 'Date' %>
          <%=h f.text_field :date %>
        </p>
        <p>
          <%=h f.label 'Departure Time' %>
          <%=h f.select :depart, time_selectors, {:selected=>time_as_string(@trip.depart)} %>
        </p>
        <p>
          <%=h f.label 'Return Time' %>
          <%=h f.select :return, time_selectors, {:selected=>time_as_string(@trip.return)} %>
        </p>
        <p>
          <%=h f.label :destination %>
          <%=h f.text_field :destination %>
        </p>
        <p>
          <%=h f.label :travelers %>
          <%=h f.select(:travelers, (1..20)) %>
        </p>
        <p>
          <%=h f.label :contact %>
          <%=h f.text_field :contact %>
        </p>
      </td>
      <td>
        <div class="radio" name="select-community-vehicle">
          <p>
            <%=h f.label :community %><br />
            <% @communities.each do |cmty|%>
              <%=h f.radio_button( "community", cmty) %><%=h cmty %> <br />
            <% end %>
          </p>
          <p>
            <%=h f.label :preferred_vehicle %><br />
            <% @vehicles.each do |v| %>
              <%=h f.radio_button("preferred_vehicle", v)%> <%=h v %> <br />
            <% end %>
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <p>
          <%=h f.label :notes %><br />
          <%=h f.text_area :notes, :cols=>60, :rows=>8%>
        </p>
      </td>
    </tr>
  </table>
  <p>
    <%=h f.submit 'Save' %>
  </p>
<% end %>