<% hours = ["1:AM", "2:AM", "3:AM", "4:AM", "5:AM", "6:AM", "7:AM", "8:AM", "9:AM", "10:AM", "11:AM", "12:PM",
  "1:PM", "2:PM", "3:PM", "4:PM", "5:PM", "6:PM", "7:PM", "8:PM", "9:PM", "10:PM", "11:PM", "12:AM"] %>
<%year, month, day = Date.parse(@start_date).strftime("%Y %B %d").split %>
<h2> WIP for week beginning Sunday <%= "#{month} #{day.to_i.ordinalize} #{year}" %>
</h2>
<table id="wip">
  <thead>
    <tr id="wip-header">
      <td><!-- time column spacer --></td>  
      <% @days = (0..6).collect {|i| Date.parse(@start_date) + i.days}%>
      <% @days.each do |day|%>
        <th colspan="<%= @vehicles.length %>">
          <%= day.strftime("<span class=\"small\">%b %d</span> %a <span class=\"small\">%Y</span>") %>
        </th>
      <% end %>
    </tr>
    <tr>
      <td><!-- time column spacer --></td>
      <% 7.times do %>
        <% @vehicles.each do |vheader| %>
          <th class="vehicle-header">
            <%= vheader %>
          </th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% (1..24).each do |hour| %>
      <tr id="<%= "hour#{hour}"%>">
        <td class="hour"> <%= hours[hour - 1] %> </td>
        <% @days.map {|d| d.strftime("%Y%m%d")}.each do |day| %>
          <% @vehicles.each do |vehicle|%>
            <% trip_class = @trips_by_hour.has_hour?(day, vehicle, hour) %>
            <td id="<%= "#{day}-#{hour}-#{vehicle}\" "%>
            <% if trip_class %>
              <%=  "class=\"#{trip_class}\""%>
            <% end %>
                >
                </td>
              <% end %>
            <% end %>
            </tr>
          <% end %>
          </tbody>
          </table>
