<% hours = ["12:00AM", "12:30AM", "1:00AM", "1:30AM", "2:00AM", "2:30AM", "3:00AM", "3:30AM", "4:00AM", "4:30AM",
  "5:00AM", "5:30AM", "6:00AM", "6:30AM", "7:00AM", "7:30AM", "8:00AM", "8:30AM", "9:00AM",
  "9:30AM", "10:00AM", "10:30AM", "11:00AM", "11:30AM", "12:00PM", "12:30PM", "1:00PM", "1:30PM", "2:00PM", "2:30PM", "3:00PM", "3:30PM", "4:00PM", "4:30PM",
  "5:00PM", "5:30PM", "6:00PM", "6:30PM", "7:00PM", "7:30PM", "8:00PM", "8:30PM", "9:00PM",
  "9:30PM", "10:00PM", "10:30PM", "11:00PM", "11:30PM"] %>
<%year, month, day = Date.parse(@start_date).strftime("%Y %B %d").split %>
<h2> Vehicle use for week beginning Sunday <%= "#{month} #{day.to_i.ordinalize} #{year}" %></h2>
<%= render :partial => 'navbar', :locals => {:start_date => @start_date, :cal_type => 'wip' } %>
<table id="wip">
  <%= render :partial => 'wip_header' %>
  <tbody>
    <% (1..48).each do |hour| %>
    <% if hour == 25 %>
      <%= render :partial => 'wip_header' %>
    <% end %>
      <tr id="<%= "hour#{hour}"%>">
      <td class="hour"> <%= hours[hour - 1] %> </td>
      <% @days.map {|d| d.strftime("%Y%m%d")}.each do |day| %>
         <% @vehicles.each do |vehicle|%>
           <% trip_class = @trips_by_hour.has_hour?(day, vehicle, hour) %>
           <%= "<td id=\"#{day}-#{hour}-#{vehicle}\" #{trip_class}> </td>"%>
         <% end %>
       <% end %>
       </tr>
     <% end %>
   </tbody>
 </table>
